### /Users/draftcode/.gitignore-boilerplates/C.gitignore

# Object files
*.o

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out



### /Users/draftcode/.gitignore-boilerplates/C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


### /Users/draftcode/.gitignore-boilerplates/Java.gitignore

*.class

# Package Files #
*.jar
*.war
*.ear


### /Users/draftcode/.gitignore-boilerplates/Python.gitignore

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg



